{% extends "admin/base_site.html" %}
{% load i18n modeltranslation_tags pagination_tags admin_list %}

{% block extrajs %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" />
	<script type="text/javascript">
		// We will include here the angular code necessary.
		var app = angular.module('translationApp', []);

		app.controller('MainController', ['$scope', function($scope){
			$scope.message = "Works !";
		}]);

	</script>

	{{ formset.media }}
{% endblock extrajs %}

{% block extrastyle %}
	{{ block.super }}
	<style type="text/css">
	
	.original-field{
		margin-top: 15px;
	}
	.updated input{
		color: green;
	}
	.updated{
		background-color: #9bcf7d !important;
	}
	.not-updated input{
		color: red;
	}
	.not-updated{
		background-color: #fe8b6c !important;
	}
	.missing input{
		color: orange;
	}
	.missing{
		background-color: #ff9d60 !important;
	}
	.equal input{
		color: blue;
	}
	.equal{
		background-color: #5fa291 !important;
	}
	</style>
{% endblock extrastyle %}

{% block content %}
<div ng-app="translationApp" ng-controller="MainController as ctrl">
	{# If no language is selected, just present the language selector #}
	{% if not trans_language %}
	<div class="row-fluid">
		<div class="span12 full-languages-selector">
			{% for code in AVAILABLE_LANGUAGES  %}
				<a href="?l={{ code }}" class="btn btn-default">{{ code }}</a>
			{% endfor %}
		</div>
	</div>
	{% else %}
	<div class="row-fluid">
		<div class="span12 languages-selector">
			{% for code in AVAILABLE_LANGUAGES  %}
				<a href="?l={{ code }}" class="btn btn-default">{{ code }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 language-container language-{{ trans_language }}">
			<h2>{% trans "Translating:" %} {{ trans_language }}</h2>
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<th>{{ opts.verbose_name }}</th>
					{% for field in trans_fields %}
					<th>{{ field }}</th>
					{% endfor %}
				</thead>
				<tbody>
	{% autopaginate forms 20 %}
				{% for form in forms %}
					<tr>
						<td>
							{{ form.instance }}	
						</td>
						
						{% for field in form %}
						<td class="{% is_uptodate form.instance field.name trans_language DEFAULT_LANGUAGE %}">
							<div class="translated-field {% is_uptodate form.instance field.name trans_language DEFAULT_LANGUAGE %}">{{ field }}</div>
							<div class="original-field"><p>{% getattrl form.instance field.name DEFAULT_LANGUAGE %}</p></div>
						</td>	
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row"><div class="span12">{% paginate %}</div></div>
	{% endif %}
</div>
{% endblock content %}